.h1-class-externo{
    color:aqua;
    background-color: darkgrey;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    background-color: lightgreen;
}

.div_container{
    background-color: red;
    margin: 10px;
    padding: 200px;
}

