*{
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: fixed;
    background-color: white;
    height: 2rem;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

div{
    min-height: 100vh;
    padding-top: 3rem;

}

#sobre{
    background-color: orchid;
}

#servicos{
    background-color: rgb(218, 123, 112);
}

#contato{
    background-color: rgb(116, 112, 218);
}

html{
    scroll-behavior: smooth;
}