.simulador{
        display: flex;
        height: 800px;
        background: #5be754;
        padding-top: 10px;
        justify-content: center;
        color: white;

}

.simulador h1{
    display: flex;
    font-weight: 800px;
    justify-content: center;
}

.exibir{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exibir input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
}

.exibir button{
    margin-top: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.exibir button:hover{
    background-color: burlywood;
    cursor: pointer;
}

#div_resposta{
    margin-top: 20px;
    width: 400px;
    text-align: center;
}

input.placeholderred::-webkit-input-placeholder{
    color: red;
}


